.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(230, 100%, 99%);
  background-image: url("/images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cta {
  display: flex;
  flex-direction: column;
  background-image: url("/images/pattern-circles.svg");
  background-position: center center;
  text-align: center;
  background-repeat: no-repeat;
  align-items: center;
  padding: 50px 0;
}
.cta-header {
  font-size: 29px;
  font-weight: 800;
}
.cta-details {
  font-size: 15px;
}
.card {
  background-color: hsl(0, 0%, 100%);
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 15px 23px #ccd6df;
  /* padding: 30px 40px; */
}
.budgetCost {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.budgetSlider {
  width: 75%;
  margin: 30px 0;
}
input[type="range"] {
  -webkit-appearance: none;
  height: 15px;
  margin: 10px 80px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: hsl(174, 86%, 45%);
  width: 30px;
  height: 30px;
  margin-top: -10px;
  border-radius: 20px;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 10px;
  box-shadow: 0 5px 15px hsl(174, 86%, 45%);
}
input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background-color: hsl(174, 77%, 80%);
  border-radius: 15px;
  border: none;
  height: 7px;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: hsl(174, 86%, 45%);
  height: 30px;
  width: 30px;
  border-radius: 20px;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 10px;
  border-width: 0px;
  box-shadow: 0 5px 15px hsl(174, 86%, 45%);
}
input[type="range"]::-moz-range-track {
  -webkit-appearance: none;
  background-color: hsl(174, 77%, 80%);
  border-radius: 15px;
  height: 7px;
}

.monthlyYearlyToggle{
    font-size: 12px;
    color: hsl(225, 20%, 60%);
    padding: 40px 50px 50px;
    text-align: center;
}

.pill{
    font-size: 10px;
    font-weight: 800;
    color: hsl(15, 100%, 70%);
    background-color: hsl(14, 92%, 95%);
    padding: 2px 5px;
    margin-left: 7px;
    border-radius: 10px;
}

.switch{
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
    margin: 0 10px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(223, 50%, 87%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
position: absolute;
content: "";
height: 12px;
width: 12px;
left: 3.5px;
bottom:2.6px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: hsl(174, 86%, 45%);
}

input:focus + .slider {
box-shadow: 0 0 1px hsl(174, 86%, 45%);
}

input:checked + .slider:before {
-webkit-transform: translateX(13px);
-ms-transform: translateX(13px);
transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.featuresStartBtn{
    border-top: 0.1px solid hsl(225, 67%, 96%);
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featuresStartBtn{
    list-style-type: none;
    list-style-image: url('/images/icon-check.svg');
    list-style-position: 10px;
    color: hsl(225, 20%, 60%);
    font-size: 13px;
    line-height: 25px;
    padding-left: 40px;
}

.featureItem{
    display: flex; 
    flex-direction: row;
}

.featureItem li{
    margin-right: 10px;
}

.btnSection{
    align-self: center;
}

.btn{
    border: 0;
    border-radius: 20px;
    background-color: hsl(227, 35%, 25%);
    color: hsl(226.2, 36.4%, 79%);
    font-weight: 800;
    font-size: 12px;
    font-family: "Manrope", sans-serif;
    padding: 12px 40px;
}

.btn:hover{
    background-color: hsl(228, 35%, 14%);
}